<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cafe.jjdev.mall.mapper.BoardCommentMapper">
	<delete id="deleteBoardComment" parameterType="cafe.jjdev.mall.vo.BoardComment">
		DELETE FROM board_comment
		WHERE board_comment_no = #{boardCommentNo}
		AND board_comment_pw = #{boardCommentPw}
	</delete>
	<delete id="deleteBoardCommentByBoardNo" parameterType="int">
		DELETE FROM board_comment
		WHERE board_no = #{boradNo}
	</delete>
	<select id="selectBoardCommentListByBoardNo" parameterType="int" resultType="cafe.jjdev.mall.vo.BoardComment">
		SELECT board_comment_no as boardCommentNo,
			board_no as boardNo,
			board_comment_content as boardCommentContent,
			board_comment_user as boardCommentUser
		FROM board_comment
		WHERE board_no = #{boardNo}
	</select>
	<insert	id="insertBoardComment" parameterType="cafe.jjdev.mall.vo.BoardComment">
		INSERT INTO board_comment(
			board_no,
			board_comment_content,
			board_comment_user,
			board_comment_pw
		) VALUES (
			#{boardNo},
			#{boardCommentContent},
			#{boardCommentUser},
			#{boardCommentPw}
		)
	</insert>
</mapper>